.titled-pane > .title {
    -fx-background-radius: 0;
}
.titled-pane {
    -f-x-inner-border: red;
}

.tool-bar {
    -f-x-background-insets: 1;
    -f-x-background-color: derive(-fx-color, -23%);
}

.titled-pane > .content {
    -f-x-border-width: 0 0 0 0;
    -f-x-border-insets: -1 -1 -1 0;
}
.titled-pane > .title {
    -f-x-border-color: red;
    -f-x-border-width: 0;
    -fx-padding: 0;
}

.tool-bar {
    -fx-padding: 0;
}

.toggle-button {
    -fx-outer-border: none;
}

.toggle-button:selected {
    -fx-outer-border: derive(-fx-color, -23%);
}
